body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
}

#app {
  align-items: center;
  color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 25px;
}

#logo {
  height: 300px;
}

#beer-table-heading {
  align-items: center;
  background-color: #39374d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#beer-table-heading h2 {
  margin-bottom: 5px;
  padding-left: 25px;
}

#beer-table-heading button {
  margin-right: 30px;
}

table {
  border-collapse: collapse;
  overflow: hidden;
}

table thead tr {
  background-color: #39374d;
  color: white;
  height: 50px;
}

td,
th {
  padding: 8px;
  text-align: left;
}

.column1 {
  padding-left: 30px;
}

.column5 {
  padding-right: 30px;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

#shade {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

#modal {
  background-color: white;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  padding: 25px;
  position: absolute;
  width: 400px;
  z-index: 10;
}

#modal-close-container {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

#new-beer-form {
  display: flex;
  flex-direction: column;
}

#new-beer-form h3 {
  margin: 0;
}

#new-beer-form label {
  margin-top: 10px;
}

#new-beer-form button {
  margin-top: 25px;
}
